.manga {
    position: relative;
}
  
.manga-info-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    z-index: 1;
    transition: transform 1.2s ease, opacity 0.4s ease;
}

.manga:hover .manga-info-overlay { 
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
