@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.new-manga-update {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.heading {
    font-size: 20px;
    font-weight: 600;
    color: #f4f4f4;
}

.subheading {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 0.75;
}

.heading-and-subheading {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.manga-cover {
    width: 180px;
    height: 260px;
    border-radius: 18px;
    /* border: 1.5px solid rgba(255, 255, 255, 0.15); */
    outline: 2px solid rgba(255, 255, 255, 0.15);
    outline-offset: -2px;
}

.name {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #f4f4f4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chapter {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    opacity: 0.75;
}

.manga-info {
    width: 180px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 4px;
    padding: 0px 8px;
}

.manga {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.manga:hover {
    transform: translateY(-10px);
}

.manga:hover,
.manga:not(:hover) {
    transition: transform 0.3s ease;
}

.manga-wrapper {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: repeat(2, fit-content);
    gap: 40px;
}
