.manga {
    position: relative;
}

.manga-info-overlay {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
    z-index: 50;
    transition: transform 0.6s ease, opacity 0.3s linear;
    pointer-events: none;
}

.manga:hover .manga-info-overlay {
    transform: translateX(-50%) scale(1);
    opacity: 1;
    pointer-events: auto;
}
