.NavBar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: #000000;
    backdrop-filter: blur(5px);

    width: 1104px;
    height: 80px;
}

.SearchBar .icon, .Home, .Logo, .Genres, .LoginButton {
    color: #F4F4F4;
}

.Logo {
    font-family: "Inter-SemiBold", Helvetica, serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: normal;
}

.Center {
    gap: 20px;
}

.Home {
    padding: 15px;
    border-radius: 50px;
}

.SearchBar, .Genres {
    padding: 15px 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.20);
    border-radius: 50px;

    gap: 10px;
}

.SearchBar {
    width: 280px;
}

.SearchQuery input {
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
}

.Right {
    gap: 20px;
}

.Right div {
    padding: 10px 14px;
    border-radius: 50px;
}

.RegisterButton {
    background: #F4F4F4;
}